# Dependencies
node_modules/
**/node_modules/
/.pnp
.pnp.js

# Build and production
build/
dist/
**/build/
**/dist/

# Uploads and static dynamic content
backend/uploads/
**/uploads/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env

# Logs and testing
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage
**/coverage

# IDE and OS files
.idea/
.vscode/
.DS_Store
**/.DS_Store
Thumbs.db

